# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Maps.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Michael\Desktop\IOS Android und sonstiges\BadrilloxBaumbartMaps\Maps\.idea\.idea.Maps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
